<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
<title>Product App</title>
<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <div class="app">
        <h1>Notes</h1>
        <div class="notes">
            <nav>
                <p v-if="!notes.length">No notes saved.</p>
                <ul v-if="notes.length">
                    <li v-for="note in notes">
                        <button v-on:click="currentNote = note">{{note.title}}</button>
                    </li>
                </ul>
            </nav>
            <div v-if="currentNote" class="current-note">
                <h2>{{currentNote.title}}</h2>
                <p>{{currentNote.contents}}</p>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
</body>
</html>