<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,maximum-scale=1">
<title>Product App</title>
<link rel="stylesheet" type="text/css" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.3.0/milligram.min.css">
</head>
<body>
    <div class="app">
        <h1>Notes</h1>
        <button @click="createNote" class="create-new-button">Create new</button>
        <div class="notes">
            <nav>
                <p v-if="!notes.length">No notes saved.</p>
                <ul v-if="notes.length">
                    <li v-for="note in notes">
                        <button @click="currentNote = note" :class="{active: note === currentNote}">{{note.title}}</button>
                    </li>
                </ul>
            </nav>
            <div v-if="currentNote" class="current-note">
                <input v-model="currentNote.title" ref="noteTitle">
                <textarea v-model="currentNote.contents">

                </textarea>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
</body>
</html>